@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    /*Alinhamento dos textos*/
    text-align: center;
    padding: 30px;
}

main#album{
    /*Renderiza os elementos*/
    display: flex;
    /*Coloca o conteúdo em linha e não permite a quebra de linhas*/
    flex-flow: row wrap;
}

section.coluna{
    /*border: 1px dashe black;*/
    flex-wrap: 1 1 100%;
    padding: 0px 5px;
}

section > img{
    /*Especifica a largura e a altura de uma imagem*/
    width: 100%;
    /*Indica a distância na parte inferior do conteúdo*/
    padding-bottom: 10px;
}

footer{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}